body {
    font-family: 'Open Sans', sans-serif;
}
.body-content{
    padding-top: 80px;
}
.topBarDark{
    background: #000;
    position: fixed;
    width: 100%;
    left: 0;
    height: 40px;
    z-index: 999;
}
.list-inline{
    list-style: none;
}
.list-inline li{
    display: inline-block;
}
.topDarkRight li{
    line-height: 40px;
    padding: 0px 10px;
}
.topDarkRight li a{
    color: #FFF;
    font-size: 12px;
}
.second-navbar{
    top:40px;
    background: #FFF;
    color: #000;
    text-transform: uppercase;
    z-index: 999;
}
.navbar-default .navbar-brand{
    color:#800000;
    font-weight: bold;
    font-size: 28px;
}
.jumbotron{
    background: url('../img/image_3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 480px;
    color: #FFF;
}
.jumbotron h1{
    padding-top: 10%;
}

.login-footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: #000;
    color: #FFF;
}

/*.navbar-footer {
    padding-top: 20px;
    background-color: #000;
    color: #FFF;
}*/

.login-navbar{
    background-color: #000;
    color: #000;
    height: 50px;
    font-size: 30px;
}
#login-page{
    background-color: #FFF;
}
.form-login {
    max-width: 700px;
    margin: 5% auto 0;
    background: #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #000;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.login-wrap {
    padding: 50px;
}

.btn-theme{
    background: #000;
    color: #fff;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
}

#profileBox {
    height: 100px;
    width: 100%;
    margin-top: 5%;
}

#profilePic {
    height: 80%;
    width: 35%;
    border-radius: 50%;
    margin-left: 5%;
    border: 1px solid #cccfd0;
    float: left;
}

#chatPic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5%;
    border: 1px solid #cccfd0;
    float: left;
}

#chatName {
    height: 20px;
    width: 20px;
    margin-left: 5%;
    float: left;
}

#chatMessage {
    margin-left: 5%;
}

#profileDetails {
    margin-left: 10%;
    margin-top: 2%;
    float: left;
}

.btn-profile {
    width: 100%;
}

#userBox {
    height: 100px;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}

#userProfile {
    height: 100%;
    width: 26%;
    border-radius: 50%;
    margin-left: 5%;
    border: 1px solid #cccfd0;
    float: left;
}

#userDetails {
    margin-left: 5%;
    float: left;
}

#travelerBtn {
    width: 100%;
}

#travelerPic {
    height: 80%;
    border-radius: 50%;
    margin-left: 5%;
    border: 1px solid #cccfd0;
    float: left;
}

#travelerBox {
    height: 100px;
    width: 100%;
    margin-top: 5%;
    margin-left: 15%;
}

#travelerProfile {
    float:left;
}

.thumbPic{
    height: 200px;
    width: 100%;
}

@media(max-width:480px) {
    .body-content{
        padding-top: 100px;
    }
}
@media(max-width:768px) {
    .body-content{
        padding-top: 20%;
    }
}

.productRequest, .bidSubmitted, .myreviews {
    vertical-align: middle !important; 
}

.thumbnail-top {
    height: 150px;
}

.breadcrumb > li + li:before {
    content: ">" !important ;
}

#userProfileBox {
    height: 100%;
}